<h1>{{ where }}</h1>
<hr>
<div class="row" id="center">
<h3>Frequently asked questions</h3>
<div class="col">

  <uib-accordion close-others="true" id="center">

    <div uib-accordion-group class="panel-default" is-open="p1.open">
      <uib-accordion-heading>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': p1.open, 'glyphicon-chevron-right': !p1.open}"></i>
        Why did I decide to become a web developer?
      </uib-accordion-heading>
      I spend a lot of time tinkering with web technologies. As such, it seemed practical to make the attempt.
    </div>

    <div uib-accordion-group class="panel-default" is-open="p2.open">
      <uib-accordion-heading>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': p2.open, 'glyphicon-chevron-right': !p2.open}"></i>
        What is my design process?
      </uib-accordion-heading>
      I simply apply the mechanics I know in a creative way to satisfy or hopefully exceed expectations.
    </div>

    <div uib-accordion-group class="panel-default" is-open="p3.open">
      <uib-accordion-heading>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': p3.open, 'glyphicon-chevron-right': !p3.open}"></i>
        Who are my clients?
      </uib-accordion-heading>
      My mentor and tutor at CareerFoundry are my surrogate clients for the time being.
    </div>

    <div uib-accordion-group class="panel-default" is-open="p4.open">
      <uib-accordion-heading>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': p4.open, 'glyphicon-chevron-right': !p4.open}"></i>
        What is my average project turnaround time?
      </uib-accordion-heading>
      I'm just trying to make the milestones for now...
    </div>

    <div uib-accordion-group class="panel-default" is-open="p5.open">
      <uib-accordion-heading>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': p5.open, 'glyphicon-chevron-right': !p5.open}"></i>
        What is my favorite color?
      </uib-accordion-heading>
      <p id="blue">Blue</p>
    </div>

  </uib-accordion>

</div>
<!-- column -->
</div>
<!-- row -->
